<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<!-- Toolbar -->
<div class="d-flex pt-2 pb-2">
  <div class="col-4 d-flex">
    <img src="assets/img/logo.png" alt=""> 
    <h4 class="pt-2 pl-2">Coder and Accotax</h4>
  </div>
  <div class="col-8">
    <section>
      <div class="example-button-row text-end">
        <button mat-raised-button>Mock Test</button>
        <button mat-raised-button>Study Materials</button>
        <button mat-raised-button>Courses</button>
        <button mat-raised-button>About Us</button>
        <button mat-raised-button>Contact Us</button>
        <button mat-raised-button><mat-icon>login</mat-icon></button>
      </div>
    </section>
  </div>
</div>



<router-outlet></router-outlet>
