<div class="container-div">
    <div>
        <swiper-container class="mySwiper" pagination="true"
            pagination-dynamic-bullets="true" autoplay-delay="2000">
            <swiper-slide><img src="assets/img/carousel1.jpg" alt
                    width="1340"></swiper-slide>
            <swiper-slide><img src="assets/img/carousel2.jpg" alt
                    width="1340"></swiper-slide>
            <swiper-slide><img src="assets/img/carousel1.jpg" alt
                    width="1340"></swiper-slide>
            <swiper-slide><img src="assets/img/carousel2.jpg" alt
                    width="1340"></swiper-slide>
            <swiper-slide><img src="assets/img/carousel1.jpg" alt
                    width="1340"></swiper-slide>
            <swiper-slide><img src="assets/img/carousel2.jpg" alt
                    width="1340"></swiper-slide>
            <swiper-slide><img src="assets/img/carousel1.jpg" alt
                    width="1340"></swiper-slide>
            <swiper-slide><img src="assets/img/carousel2.jpg" alt
                    width="1340"></swiper-slide>
            <swiper-slide><img src="assets/img/carousel1.jpg" alt
                    width="1340"></swiper-slide>
            <swiper-slide><img src="assets/img/carousel2.jpg" alt
                    width="1340"></swiper-slide>
        </swiper-container>
    </div>
    <div class="secondary-swiper mt-5">

        <div class="d-flex m-2">
            <div class="col-6">
                <swiper-container class="mySwiper" pagination="true"
                    slides-per-view="3"
                    autoplay-delay="2000" space-between="30">
                    <swiper-slide>
                        <img src="assets/img/logo/c-logo.png"
                            width="300" />
                    </swiper-slide>
                    <swiper-slide>
                        <img src="assets/img/logo/java-Logo.png"
                            width="300" />
                    </swiper-slide>
                    <swiper-slide>
                        <img src="assets/img/logo/javascript-logo.png"
                            width="300" />
                    </swiper-slide>
                    <swiper-slide>
                        <img src="assets/img/logo/c-logo.png"
                            width="300" />
                    </swiper-slide>
                    <swiper-slide>
                        <img src="assets/img/logo/java-Logo.png"
                            width="300" />
                    </swiper-slide>
                    <swiper-slide>
                        <img src="assets/img/logo/javascript-logo.png"
                            width="300" />
                    </swiper-slide>
                    <swiper-slide>
                        <img src="assets/img/logo/c-logo.png"
                            width="300" />
                    </swiper-slide>
                    <swiper-slide>
                        <img src="assets/img/logo/java-Logo.png"
                            width="300" />
                    </swiper-slide>
                    <swiper-slide>
                        <img src="assets/img/logo/javascript-logo.png"
                            width="300" />
                    </swiper-slide>
                    <swiper-slide>
                        <img src="assets/img/logo/c-logo.png"
                            width="300" />
                    </swiper-slide>
                    <swiper-slide>
                        <img src="assets/img/logo/java-Logo.png"
                            width="300" />
                    </swiper-slide>
                    <swiper-slide>
                        <img src="assets/img/logo/javascript-logo.png"
                            width="300" />
                    </swiper-slide>
                </swiper-container>
                <h2>Why we ?</h2>
                <div>
                    <ul>
                        <li>You will get best faculty You will get best
                            faculty</li>
                        <li>You will get best faculty You will get best
                            faculty</li>
                        <li>You will get best faculty You will get best
                            faculty</li>
                        <li>You will get best faculty You will get best
                            faculty</li>
                        <li>You will get best faculty You will get best
                            faculty</li>
                        <li>You will get best faculty You will get best
                            faculty</li>
                        <li>You will get best faculty You will get best
                            faculty</li>
                    </ul>
                </div>
            </div>
            <div class="col-6">
                <div
                    style="background: linear-gradient(90deg, rgba(190,173,142,1) 0%, rgba(247,196,82,1) 50%, rgba(190,173,142,1) 100%); padding: 0 12px 12px; width: 76%; border-radius: 2%; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                    <h4 style="text-align: center;">Log In</h4>
                    <form class="ml-5 mr-5"
                        style="border-bottom: 1px solid grey;">
                        <div class="form-outline mb-4">
                            <label class="form-label" for="emailId">Email
                                address</label>
                            <input type="email" id="emailId"
                                formControlName="email" class="form-control" />
                        </div>
                        <div class="form-outline mb-4">
                            <label class="form-label"
                                for="password">Password</label>
                            <input type="email" id="password"
                                formControlName="email" class="form-control" />
                        </div>
                        <div
                            style="text-align: center; margin-bottom: 8px;"><button
                                mat-raised-button
                                style="background-color: rgb(85, 12, 255); color: white;">Login</button></div>
                        <div
                            style="text-align: center; margin-bottom: 8px;"><button
                                mat-raised-button
                                style="background-color: rgb(255, 20, 12); color: white;">Forgot
                                password ?</button></div>
                    </form>
                    <div style="text-align: center;"><h6>Don't have an account
                            ?</h6></div>
                    <div style="text-align: center; margin-bottom: 8px;"><button
                            mat-raised-button
                            style="background-color: rgb(162, 252, 196);">Register</button></div>

                </div>

            </div>
        </div>
        <div class="mt-4 mb-4" style="text-align: center;"><h3 style="text-decoration: underline red; text-underline-offset: 10px;">Our Courses</h3></div>
        <div class="d-flex course-div">
            <div class="col-4">
                <mat-card class="example-card" appearance="outlined">
                    <!-- <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>Shiba Inu</mat-card-title>
                        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    </mat-card-header> -->
                    <img mat-card-image
                        src="assets/img/courseImage/c-course.png"
                        alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <p>
                            The Shiba Inu is the smallest of the six original
                            and distinct spitz breeds of dog from Japan.
                            A small, agile dog that copes very well with
                            mountainous terrain, the Shiba Inu was originally
                            bred for hunting.
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <!-- <button mat-button>LIKE</button> -->
                        <button style="background-color: aquamarine;" mat-raised-button>Show Details</button>
                    </mat-card-actions>
                </mat-card>
            </div>
            <div class="col-4">
                <mat-card class="example-card" appearance="outlined">
                    <!-- <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>Shiba Inu</mat-card-title>
                        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    </mat-card-header> -->
                    <img mat-card-image
                        src="assets/img/courseImage/java-course.jpg"
                        alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <p>
                            The Shiba Inu is the smallest of the six original
                            and distinct spitz breeds of dog from Japan.
                            A small, agile dog that copes very well with
                            mountainous terrain, the Shiba Inu was originally
                            bred for hunting.
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <!-- <button mat-button>LIKE</button> -->
                        <button style="background-color: aquamarine;" mat-raised-button>Show Details</button>
                    </mat-card-actions>
                </mat-card>
            </div>
            <div class="col-4">
                <mat-card class="example-card" appearance="outlined">
                    <!-- <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>Shiba Inu</mat-card-title>
                        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    </mat-card-header> -->
                    <img mat-card-image
                        src="assets/img/courseImage/javascript-course.png"
                        alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <p>
                            The Shiba Inu is the smallest of the six original
                            and distinct spitz breeds of dog from Japan.
                            A small, agile dog that copes very well with
                            mountainous terrain, the Shiba Inu was originally
                            bred for hunting.
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <!-- <button mat-button>LIKE</button> -->
                        <button style="background-color: aquamarine;" mat-raised-button>Show Details</button>
                    </mat-card-actions>
                </mat-card>
            </div>
            
        </div>
        <div style="text-align: center; margin: 20px 0;">
            <button style="background-color: rgb(178, 4, 178); color: white;" mat-raised-button>View more >></button>
        </div>

        <!-- <mat-card class="example-card" appearance="outlined">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Shiba Inu</mat-card-title>
              <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions>
          </mat-card> -->

        <div class="d-flex mt-5">
            <div class="col-6">
                <iframe class="youtube-vdo" width="560" height="315"
                    src="https://www.youtube.com/embed/TVIHY6Y_3aI?si=6rS_-b5fce-flqPR"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen></iframe>
            </div>
            <div class="col-6">
                <iframe class="youtube-vdo" width="560" height="315"
                    src="https://www.youtube.com/embed/nUGsAeYH848?si=X4RDukuULAnO3zmr"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen></iframe>
            </div>

        </div>
    </div>
</div>
<app-footer></app-footer>
