<div>
    <swiper-container class="mySwiper" pagination="true" pagination-dynamic-bullets="true" autoplay-delay="2000">
        <swiper-slide><img src="assets/img/carousel1.jpg" alt="" width="1340"></swiper-slide>
        <swiper-slide><img src="assets/img/carousel2.jpg" alt="" width="1340"></swiper-slide>
        <swiper-slide><img src="assets/img/carousel1.jpg" alt="" width="1340"></swiper-slide>
        <swiper-slide><img src="assets/img/carousel2.jpg" alt="" width="1340"></swiper-slide>
        <swiper-slide><img src="assets/img/carousel1.jpg" alt="" width="1340"></swiper-slide>
        <swiper-slide><img src="assets/img/carousel2.jpg" alt="" width="1340"></swiper-slide>
        <swiper-slide><img src="assets/img/carousel1.jpg" alt="" width="1340"></swiper-slide>
        <swiper-slide><img src="assets/img/carousel2.jpg" alt="" width="1340"></swiper-slide>
        <swiper-slide><img src="assets/img/carousel1.jpg" alt="" width="1340"></swiper-slide>
        <swiper-slide><img src="assets/img/carousel2.jpg" alt="" width="1340"></swiper-slide>
    </swiper-container>
</div>
<div>
    <swiper-container class="mySwiper" pagination="true" 
    slides-per-view="4" autoplay-delay="2000"
    >
            <swiper-slide>
                <img src=" https://swiperjs.com/demos/images/nature-1.jpg" width="336"/>
            </swiper-slide>
            <swiper-slide>
                <img src="https://swiperjs.com/demos/images/nature-2.jpg" width="336" />
            </swiper-slide>
            <swiper-slide>
                <img src="https://swiperjs.com/demos/images/nature-3.jpg"  width="336"/>
            </swiper-slide>
            <swiper-slide>
                <img src="https://swiperjs.com/demos/images/nature-4.jpg" width="336" />
            </swiper-slide>
            <swiper-slide>
                <img src="https://swiperjs.com/demos/images/nature-5.jpg" width="336" />
            </swiper-slide>
            <swiper-slide>
                <img src="https://swiperjs.com/demos/images/nature-6.jpg" width="336" />
            </swiper-slide>
            <swiper-slide>
                <img src="https://swiperjs.com/demos/images/nature-7.jpg" width="336" />
            </swiper-slide>
            <swiper-slide>
                <img src="https://swiperjs.com/demos/images/nature-8.jpg" width="336" />
            </swiper-slide>
            <swiper-slide>
                <img src="https://swiperjs.com/demos/images/nature-9.jpg" width="336" />
            </swiper-slide>
  </swiper-container>
</div>
