<div>
    <swiper-container class="mySwiper" pagination="true"
        pagination-dynamic-bullets="true" autoplay-delay="2000">
        <swiper-slide><img src="assets/img/carousel1.jpg" alt
                width="1340"></swiper-slide>
        <swiper-slide><img src="assets/img/carousel2.jpg" alt
                width="1340"></swiper-slide>
        <swiper-slide><img src="assets/img/carousel1.jpg" alt
                width="1340"></swiper-slide>
        <swiper-slide><img src="assets/img/carousel2.jpg" alt
                width="1340"></swiper-slide>
        <swiper-slide><img src="assets/img/carousel1.jpg" alt
                width="1340"></swiper-slide>
        <swiper-slide><img src="assets/img/carousel2.jpg" alt
                width="1340"></swiper-slide>
        <swiper-slide><img src="assets/img/carousel1.jpg" alt
                width="1340"></swiper-slide>
        <swiper-slide><img src="assets/img/carousel2.jpg" alt
                width="1340"></swiper-slide>
        <swiper-slide><img src="assets/img/carousel1.jpg" alt
                width="1340"></swiper-slide>
        <swiper-slide><img src="assets/img/carousel2.jpg" alt
                width="1340"></swiper-slide>
    </swiper-container>
</div>
<div class="secondary-swiper mt-5">
    <swiper-container class="mySwiper" pagination="true" slides-per-view="4"
        autoplay-delay="2000" space-between="30">
        <swiper-slide>
            <img src=" https://swiperjs.com/demos/images/nature-1.jpg"
                width="300" />
        </swiper-slide>
        <swiper-slide>
            <img src="https://swiperjs.com/demos/images/nature-2.jpg"
                width="300" />
        </swiper-slide>
        <swiper-slide>
            <img src="https://swiperjs.com/demos/images/nature-3.jpg"
                width="300" />
        </swiper-slide>
        <swiper-slide>
            <img src="https://swiperjs.com/demos/images/nature-4.jpg"
                width="300" />
        </swiper-slide>
        <swiper-slide>
            <img src="https://swiperjs.com/demos/images/nature-5.jpg"
                width="300" />
        </swiper-slide>
        <swiper-slide>
            <img src="https://swiperjs.com/demos/images/nature-6.jpg"
                width="300" />
        </swiper-slide>
        <swiper-slide>
            <img src="https://swiperjs.com/demos/images/nature-7.jpg"
                width="300" />
        </swiper-slide>
        <swiper-slide>
            <img src="https://swiperjs.com/demos/images/nature-8.jpg"
                width="300" />
        </swiper-slide>
        <swiper-slide>
            <img src="https://swiperjs.com/demos/images/nature-9.jpg"
                width="300" />
        </swiper-slide>
    </swiper-container>

    <div class="d-flex m-2">
        <div class="col-6">
            <h2>Why we ?</h2>
            <div>
                <ul>
                    <li>You will get best faculty You will get best faculty</li>
                    <li>You will get best faculty You will get best faculty</li>
                    <li>You will get best faculty You will get best faculty</li>
                    <li>You will get best faculty You will get best faculty</li>
                    <li>You will get best faculty You will get best faculty</li>
                    <li>You will get best faculty You will get best faculty</li>
                    <li>You will get best faculty You will get best faculty</li>
                </ul>
            </div>
        </div>
        <div class="col-6">
            <div style="background: linear-gradient(90deg, rgba(190,173,142,1) 0%, rgba(247,196,82,1) 50%, rgba(190,173,142,1) 100%); padding: 0 12px 12px; width: 76%; border-radius: 2%; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                <h4 style="text-align: center;">Log In</h4>
                <form class="ml-5 mr-5" style="border-bottom: 1px solid grey;">
                    <div class="form-outline mb-4">
                        <label class="form-label" for="emailId">Email address</label>
                        <input type="email" id="emailId" formControlName="email" class="form-control" />
                    </div>
                    <div class="form-outline mb-4">
                        <label class="form-label" for="password">Password</label>
                        <input type="email" id="password" formControlName="email" class="form-control" />
                    </div>
                    <div style="text-align: center; margin-bottom: 8px;"><button mat-raised-button style="background-color: rgb(85, 12, 255); color: white;">Login</button></div>
                    <div style="text-align: center; margin-bottom: 8px;"><button mat-raised-button style="background-color: rgb(255, 20, 12); color: white;">Forgot password ?</button></div>
                </form>
                <div style="text-align: center;"><h6>Don't have an account ?</h6></div>
                <div style="text-align: center; margin-bottom: 8px;"><button mat-raised-button style="background-color: rgb(162, 252, 196);">Forgot password ?</button></div>

            </div>

        </div>
    </div>

    <div class="d-flex mt-5">
        <div class="col-6">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/TVIHY6Y_3aI?si=6rS_-b5fce-flqPR" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <div class="col-6">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/nUGsAeYH848?si=X4RDukuULAnO3zmr" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        
    </div>
</div>
